<div class='top-shadow'>
    <div class='bg-2'>
        <div class="wrapper">
            <div class='vspacee ispacee borderr-b container' style='background-color: transparent;'>
                <div class='row align-items-center invisible'>
                    <div class='col-9'>
                        <span>All Tasks</span>
                        {# <small style='margin-top: 0.0em; margin-bottom: 0.0em; font-weight: 800;'>All Tasks</small> #}
                    </div>
                    {# <div class='col'>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#form-modal">Add Task</button>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
    {# <div class='bg-1'>
        <div class="wrapper">
            
            <div class='ispacee bg-1' style='padding-top: 1rem; padding-bottom: 0;'>

                <div id="welcome" class=''>
                    <h1>Task Manager™</h1>
                </div>

            </div>
        </div>
    </div> #}
    <div class='bg-3'>
        <div class="wrapperr">
            <div class='vspace iispace borderr-b containerr' style='background-color: transparent;'>
                <div class='app-bar-items'>
                    <div class='logo'>
                        <span>My Tasks<small>™</small></span>
                        {# <small style='margin-top: 0.0em; margin-bottom: 0.0em; font-weight: 800;'>All Tasks</small> #}
                    </div>
                    <div class=''>
                        <button type="button" class="btn btn-warning btn" data-toggle="modal" data-target="#form-modal">Add Task</button>
                        <div class="input-group" style='margin-left: 1rem;'>
                            
                            <input type="text" class="form-control" placeholder="Search tasks..." aria-label="Search for...">
                            <span class="input-group-addon"><span class='fa fa-search'></span></span>
                            {# <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><div class='fa fa-search'></div></button>
                            </span> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div> 