/* * {
    display: none !important;
    background-color: red;
} */

body {
    background: #F5F5F5;
    /* font: 18px/1.5 sans-serif !important; */
    background-image: url('https://i.imgur.com/PzIUINd.png');
    background-repeat: repeat;
}

.invis {
    opacity: 0;
}

.ispace {
    padding: 2em;
}

.vspace {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.vspace-2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.border-b {
    border-bottom: 1px solid lightgray;
}

.bg-1 {
    border: 1px solid rgba(21, 37, 33, 0);
    position: relative;
    color: #000;
    /* background-color: #d2eaff; */
    background-color: #0277bd;
}

.bg-1>* {
    position: relative;
}


/* .bg-1::before,
.bg-3::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://i.imgur.com/PzIUINd.png');
    background-repeat: repeat;
    opacity: 0.5;
    overflow: hidden;
    z-index: 0;
} */

.bg-2 {
    /* border: 1px solid rgba(21, 37, 33, 0.08); */
    color: #000;
    /* background-color: #d2eaff; */
    background-color: #004c8c;
}

.bg-3 {
    position: relative;
    /* background-color: #58a5f0; */
    /* background-color: #0277bd; */
    background-color: #0277bd;
    overflow: hidden;
}


/* .top-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
} */

.app-bar-items {
    display: flex;
    align-items: center;
}

.app-bar-items>div:nth-child(1) {
    max-width: calc((100% - 800px) / 2);
    flex-grow: 1;
}

.app-bar-items>div:nth-child(2) {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-grow: 1;
}

.app-bar-items .logo {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #ffc107;
}

.column-labels {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

;
.status {
    color: grey;
}

.task {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #E0E0E0;
    background-color: #fff;
}

.tasks {
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); */
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}