/* * {
    display: none !important;
    background-color: red;
} */

body {
    background-color: aliceblue;
}

.ispace {
    padding: 2em;
}

.vspace {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.border-b {
    border-bottom: 1px solid lightgray;
}

.task {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid lightgray;
}